body {
    background: #5a5b2f;
    font-family: "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
input[type='text'] {
    color: #fff;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 440px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.24s all ease-in-out;
}
input[type='text']:focus {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.2);
}
.container {
    max-width: 440px;
}
h1 {
    font-size: 36px;
}
.todos li {
    background: #a5a756;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete {
    cursor: pointer;
}
.todos .hide {
    display: none;
}